.tg-featuretitle h2,
.tg-sectiontitle h2 {
  line-height: normal;
}

footer .tg-widgetnewsletter .tg-widgetcontent span {
  color: white;
}

footer .tg-btn:hover span {
  color: #22a6b3;
}

.tg-populartourvtwo .tg-populartourcontent .tg-description p {
  -webkit-line-clamp: unset;
}

@media (min-width: 992px) {
  .page-categories .tg-description {
    min-height: 135px;
  }
}
